body {
  font-family: Arial;
  margin: 50px;
}

h1 {
  text-align: center;
  font-weight: bolder;
  color: #111;
  margin-top: 50px;
  margin-bottom: -30px;
}

h2 {
  margin: 0px;
}

.item {
  background: #111;
  color: #fff;
  padding: 35px;
  margin: 50px;
  border-radius: 5px;
}

span {
  color: #febe01;
}

p {
  color: #b2b2b2;
}

a {
  display: inline-block;
  background: #febe01;
  color: #332200;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}
